.nav{
  display: flex;
  flex-direction: row;
  float: right;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    position: absolute;
    margin-top: 20px;
    right:0;
    background: white;
  }
  >a{
    padding: 0 20px;
    @media screen and (max-width: 800px) {
      padding: 10px;
      border: 1px solid;
    }
  }
}
.open{
  display: none;
  @media screen and (max-width: 800px){
    display: inherit;
  }
  background: url(../../public/img/menu.png) center/contain no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
}
@media screen and (max-width: 800px) {
  .hidden {
    display: none;
  }
}
.link,.link:hover, .link:visited{
  text-decoration: none;
  color: #999994;
  &.active{
    color:black;
    font-weight: bold;
  }
}
.container{
  align-self: flex-end;
  flex: 1;
}
