.content{
  padding: 0 15px;
}
.title{
  padding: 15px;
  margin: 0;
  text-align: center;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  color: #f9acd2;
}

.vkIcon{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 5px;
  background: url(../../public/img/Vk-icon.png) center/cover no-repeat;
  vertical-align: -3px;
}
